// Importing Global Variables
@import "~@redhat-cloud-services/frontend-components-utilities/files/Utilities/_all";
@import "~@redhat-cloud-services/frontend-components/index.css";
@import '~@redhat-cloud-services/frontend-components-notifications/index.css';

.info__contact {
    display: none;
}

.auth-wrapper {
    display: none !important;
}

.ins-c-api__list-item {
    cursor: pointer;
}

.ins-c-docs__api {
    .ins-c-docs__api-overview-toolbar {
        width: 100%;
    }
    .ins-c-conditional-filter 
      input.ins-c-conditional-filter[type="text"]  {
        min-width: 238px;
    }
    .pf-c-empty-state {
        padding-left: 0;
    }
}
.ins-c-docs__api-detail .ins-c-docs__api-detail-info {
    &.pf-l-split__item {
        .pf-c-content:first-child { margin: var(--pf-global--spacer--sm) }
    }
    min-width: 100px;
    a {
        vertical-align: text-top;
    }
}

.ins-c-api__download--selected {
    margin-left: var(--pf-global--spacer--md);
}
